<%- include('navbar') %>
<div class="terminos">
  <h1>Términos y condiciones</h1>
  <p class="lorem">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt odio unde
    autem minima beatae ipsam animi facere at neque nostrum, ducimus impedit
    suscipit sit cumque, tempora cum possimus illum error. Autem eaque,
    consequuntur ipsum libero commodi nulla praesentium debitis non harum
    dolorum quisquam fugiat maxime odio iste qui impedit iure minus. Sed commodi
    vero nulla nostrum in corporis dicta officiis voluptatibus accusamus iure
    ab, exercitationem animi accusantium molestiae odio suscipit maxime labore
    dolorem inventore itaque temporibus? Odit recusandae a accusantium
    cupiditate quisquam quaerat nam eum consectetur dicta fuga iusto incidunt,
    officia quo, placeat sit hic. Nostrum fugiat officiis nemo possimus.
  </p>
  <p class="lorem">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates culpa
    ad quis repellendus totam qui laborum amet eos? Odio tenetur molestiae optio
    non vel, atque cumque nam excepturi dolorem adipisci sequi expedita! Neque,
    aliquam aut delectus error magnam, ex fugit quis quae, voluptas officia quos
    excepturi quasi! Illo, incidunt dolores reprehenderit non, voluptates
    maiores necessitatibus maxime totam architecto quibusdam id. Autem ut
    voluptates debitis neque, aliquid placeat veritatis nostrum molestias.
  </p>
  <p class="lorem">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni inventore
    numquam officia illum fugiat necessitatibus libero dolor ad consequatur
    repellendus dicta perferendis suscipit, tenetur eveniet labore. Laborum
    repellendus non doloremque magnam dolorem aliquid atque eos sint, neque
    quidem ratione deleniti?
  </p>
</div>
